@utility title-sm {
  font-size: var(--font-title-sm-size);
  line-height: var(--font-title-sm-line-height);
  letter-spacing: var(--font-title-sm-letter-spacing);
}

@utility heading-xxl {
  font-size: var(--font-heading-xxl-size);
  line-height: var(--font-heading-xxl-line-height);
  letter-spacing: var(--font-heading-xxl-letter-spacing);
}

@utility heading-xl {
  font-size: var(--font-heading-xl-size);
  line-height: var(--font-heading-xl-line-height);
  letter-spacing: var(--font-heading-xl-letter-spacing);
}

@utility heading-lg {
  font-size: var(--font-heading-lg-size);
  line-height: var(--font-heading-lg-line-height);
  letter-spacing: var(--font-heading-lg-letter-spacing);
}

@utility heading-md {
  font-size: var(--font-heading-md-size);
  line-height: var(--font-heading-md-line-height);
  letter-spacing: var(--font-heading-md-letter-spacing);
}

@utility heading-sm {
  font-size: var(--font-heading-sm-size);
  line-height: var(--font-heading-sm-line-height);
  letter-spacing: var(--font-heading-sm-letter-spacing);
}

@utility body-lg-reading {
  font-size: var(--font-body-lg-reading-size);
  line-height: var(--font-body-lg-reading-line-height);
  letter-spacing: var(--font-body-lg-reading-letter-spacing);
}

@utility body-lg-normal {
  font-size: var(--font-body-lg-normal-size);
  line-height: var(--font-body-lg-normal-line-height);
  letter-spacing: var(--font-body-lg-normal-letter-spacing);
}

@utility body-md-reading {
  font-size: var(--font-body-md-reading-size);
  line-height: var(--font-body-md-reading-line-height);
  letter-spacing: var(--font-body-md-reading-letter-spacing);
}

@utility body-md-normal {
  font-size: var(--font-body-md-normal-size);
  line-height: var(--font-body-md-normal-line-height);
  letter-spacing: var(--font-body-md-normal-letter-spacing);
}

@utility body-sm-reading {
  font-size: var(--font-body-sm-reading-size);
  line-height: var(--font-body-sm-reading-line-height);
  letter-spacing: var(--font-body-sm-reading-letter-spacing);
}

@utility body-sm-normal {
  font-size: var(--font-body-sm-normal-size);
  line-height: var(--font-body-sm-normal-line-height);
  letter-spacing: var(--font-body-sm-normal-letter-spacing);
}

@utility label-md {
  font-size: var(--font-label-md-size);
  line-height: var(--font-label-md-line-height);
  letter-spacing: var(--font-label-md-letter-spacing);
}

@utility label-sm {
  font-size: var(--font-label-sm-size);
  line-height: var(--font-label-sm-line-height);
  letter-spacing: var(--font-label-sm-letter-spacing);
}

@utility font-regular {
  font-weight: var(--font-regular);
}
