@theme {
  --color-static-white: #fff;
  --color-static-black: #000;
  --color-material-dimmer: rgba(0, 0, 0, 0.6);

  --color-label-heavy: #0f0f0f;
  --color-label-strong: #1c1c1c;
  --color-label-normal: #474747;
  --color-label-neutral: #5c5c5c;
  --color-label-alternative: #8a8a8a;
  --color-label-assistive: #b0b0b0;

  --color-background-opacity-normal: rgba(255, 255, 255, 0.9);
  --color-background-opacity-heavy: rgba(0, 0, 0, 0.76);
  --color-background-opacity-strong: rgba(0, 0, 0, 0.4);
  --color-background-neutral: #dbdcdf;
  --color-background-alternative: #f7f7f7;

  --color-interaction-disable-normal: #eaebec;
  --color-interaction-disable-strong: #dbdcdf;

  --color-line-alternative: #eaebec;

  --color-primary-assistive: #fff5f5;
  --color-primary-alternative: #ffd1d3;
  --color-primary-neutral: #ffa0a3;
  --color-primary-normal: #ff5258;
  --color-primary-strong: #e9494e;
  --color-primary-heavy: #bb2b30;

  --color-material-dimmer: rgba(0, 0, 0, 0.6);

  --color-social-kakao: #ffed47;
  --color-social-facebook: #1a75ff;

  --color-success-normal: #15ae6e;
  --color-success-neutral: #81dfb8;
  --color-success-alternative: #c0eddd;
  --color-success-assistive: #e9f8f2;

  --color-warning-normal: #ff9900;
  --color-warning-neutral: #ffd9b3;
  --color-warning-alternative: #ffeccc;
  --color-warning-assistive: #fff3e6;

  --color-info-strong: #a8071a;
  --color-info-normal: #ed1223;
  --color-info-neutral: #ff5c5e;
  --color-info-alternative: #ffdddb;
  --color-info-assistive: #ffeceb;

  /* Title */
  --font-title-sm-size: 26px;
  --font-title-sm-line-height: 138%;
  --font-title-sm-letter-spacing: -0.26px;

  /* Heading */
  --font-heading-xxl-size: 24px;
  --font-heading-xxl-line-height: 135%;
  --font-heading-xxl-letter-spacing: -0.48px;

  --font-heading-xl-size: 22px;
  --font-heading-xl-line-height: 120%;
  --font-heading-xl-letter-spacing: -0.44px;

  --font-heading-lg-size: 20px;
  --font-heading-lg-line-height: 120%;
  --font-heading-lg-letter-spacing: -0.4px;

  --font-heading-md-size: 18px;
  --font-heading-md-line-height: 140%;
  --font-heading-md-letter-spacing: -0.36px;

  --font-heading-sm-size: 17px;
  --font-heading-sm-line-height: 140%;
  --font-heading-sm-letter-spacing: -0.34px;

  /* Body */
  --font-body-lg-reading-size: 16px;
  --font-body-lg-reading-line-height: 155%;
  --font-body-lg-reading-letter-spacing: 0.32px;

  --font-body-lg-normal-size: 16px;
  --font-body-lg-normal-line-height: 120%;
  --font-body-lg-normal-letter-spacing: -0.32px;

  --font-body-md-reading-size: 15px;
  --font-body-md-reading-line-height: 150%;
  --font-body-md-reading-letter-spacing: -0.3px;

  --font-body-md-normal-size: 15px;
  --font-body-md-normal-line-height: 120%;
  --font-body-md-normal-letter-spacing: -0.3px;

  --font-body-sm-reading-size: 14px;
  --font-body-sm-reading-line-height: 140%;
  --font-body-sm-reading-letter-spacing: -0.28px;

  --font-body-sm-normal-size: 14px;
  --font-body-sm-normal-line-height: 120%;
  --font-body-sm-normal-letter-spacing: -0.28px;

  /* Label */
  --font-label-md-size: 13px;
  --font-label-md-line-height: 120%;
  --font-label-md-letter-spacing: -0.26px;

  --font-label-sm-size: 12px;
  --font-label-sm-line-height: 120%;
  --font-label-sm-letter-spacing: -0.12px;

  --font-regular: 400;
}
