/* Pretendard 폰트 import */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

*,
*::before,
*::after {
  font-family: "Pretendard Variable", system-ui, sans-serif;
}
